body {
    display: flex;
    flex-direction: column;
}

div.header {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.row1 {
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
}

.row2 {
    display: flex;
    flex-direction: column;
}

.row3 {
    background: #E5E7EB;
    display: flex;
}

.row4 {
    display: flex;
}

.footer {
    background: #1F2937;
    color: #F9FAF8;
}